#catering {
    align-self: center; 
    margin: 3rem 3rem; 
    position: relative; 
    .catering-img {
        width: 50%;
        border: $border; 
        border-radius: 30px;
        box-shadow: 10px 10px 1px $primary-color;
    }
    .catering-text {
       position: absolute; 
       width: 50%; 
       background-color: $dark-blue;
       color: $light-color; 
       box-shadow: 10px 10px 1px $primary-color;
        padding: 1rem 1.5rem;
        right: 0px; 
        top: 60px;
    }
    h1 {
        color: $light-color; 
    }
    p {
        font-size: 1.3rem; 
        line-height: 1.5;
    }
    .arrow3 {
        width: 30%; 
        position: absolute; 
        bottom: -50px; right: 0px;
    }
}