footer {
    background-color: $dark-blue;
    color: $light-color; 
    padding: 20px;
    font-size: 14px;
    margin-top: 20px;
    border-top: $border; 
    #footer-img {
        width: 100%; 
        text-align: center; 
    }
    img {
        width: 30%; 
        margin: auto; 
    }
    a {
        color: $light-color;
        text-decoration: none;
        text-align: right; 
        svg {
            margin-right: 0.5rem; 
            margin-top: 1rem; 
            &:hover {
                fill: $primary-color; 
                transition: $transition;
            }
        }    
    }
    h2 {
        font-size: 1.2rem;
        margin: .5rem 0; 
        padding: .5rem 0; 
        color: $light-color;
    }
    #allergy {
        font-size: 12px;
        line-height: 1.2rem; 
        text-align: center; 
    }
    #footer-grid {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-gap: 1rem; 
        margin: .5rem; 
        padding: .5rem;
    }
    #copy {
        color: $primary-color;
    }
    #contact svg{
    margin-left : .6rem; 
    }
    .contact-icons {
        display: flex; 
    }
    #subscribe {
        form {
            display: block; 
            text-align: center; 
            input {
                padding: .5rem; 
                margin: .5rem 0; 
                border-radius: 5px; 
                border: $border; 
                width: 100%; 
                font-family: "Montserrat", sans-serif;
            }
            .button {
                padding: .5rem; 
                border-radius: 40px; 
                background-color: $primary-color; 
                color: $light-color; 
                &:hover {
                    background-color: $tertiary-color; 
                    transition: $transition; 
                    cursor: pointer;
                }
            }
        }
    }
}