*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Montserrat", serif;
}

h1 {
    font-family: "Fraunces", sans-serif;
    color: $primary-color;
    font-weight: 600;
    font-size: 3rem; 
}

h2, h3 {
    font-family: "Montserrat", sans-serif;
    color: $primary-color;
    font-weight: 400;
}

p {
    line-height: 1.5rem;
}

