#subscribe-here {
    text-align: center;
    align-items: center; 
    margin: .5rem; 
    img {
        width: 100%; 
        margin: auto; 
        max-width: 300px; 
    }
    .subscribe-form {
        display: grid; 
        grid-template-columns: 1fr 1fr;
    }
    form {
        display: block; 
        margin: 2rem; 
        input {
            padding: .5rem; 
            // margin: .5rem 0; 
            width: 400px; 
            background-color: $secondary-color;
            color: $primary-color; 
            border: none; 
            border-radius: 10px; 
        }
        .button {
            padding: .5rem; 
            border-radius: 40px; 
            background-color: $primary-color; 
            color: $light-color; 
            width: 200px; 
            font-weight: 900px; 
            border: $border; 
            &:hover {
                background-color: $tertiary-color; 
                transition: $transition; 
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    #subscribe-here {
        .subscribe-form {
            display: block; 
            form {
                input {
                    width: 100%; 
                }
                .button {
                    width: 100%; 
                }
            }
        }
    }
    
}