$primary-color: #42332C;
$secondary-color: #B4C5E4;
$tertiary-color: #D5807F;
$background-color: #EADED7;
$alt-background: #F2E4EE;
$light-color: #f2f0ed;
$dark-blue: #4368A3; 

$border: 3px solid $primary-color;

$phone-breakpoint: 600px;
$tablet-breakpoint: 800px;

$transition: ease 0.4s;