@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --dark-mode-text-primary: #e4e4e7;
    --dark-mode-text-secondary: #71717a;
    --dark-mode-bg-primary: #27272a;
    --dark-mode-bg-primary-2: #3f3f46;
    --dark-mode-bg-secondary: #52525b;
}

html {
    font-family: 'Poppins', sans-serif; 
  }

*,
*:before,
*:after {
  box-sizing: border-box; 
}

body {
    margin: 0 auto; 
    padding: 0; 
}

.header-top {
    display: flex; 
    width: 100%; 
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem; 
    border-bottom: 1px solid rgb(201, 201, 201);
}

.header-top a {
    margin: .4rem; 
    text-decoration: none;
}

.logo {
    width: 120px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

#myCarousel .item {
    background-color: var(--dark-mode-bg-primary); 
    padding: 1rem;
}

#myCarousel p {
    color: white; 
    font-size: 1.5rem; 
    font-weight: 400; 
    text-align: center; 
    text-transform: uppercase;
    margin: 0.4rem; 
}

#myCarousel svg {
    margin-top: 1.4rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    grid-gap: .5rem;
    color: #2b2b2b;
    margin-bottom: 0; 
}

.hero-img {
    width: 40%; 
    border-radius: 10px;
    flex: 1;
}

.hero-img img {
    width: 100%; 
    border-radius: 10px;
    object-fit: fill;

}

.hero-text {
    text-align: center;
    column-span: all;
    padding: 2rem; 
}

.hero span .hero p {
    font-size: 15px; 
    font-weight: 400; 
}


.hero strong {
    font-size: 22.5px; 
    font-weight: 900; 
}

.hero button {
    padding: 1.5rem 2rem; 
    border: none; 
    background-color: #e94c8c; 
    color: #fff; 
    border-radius: 5px; 
    cursor: pointer;
    font-size: 15px; 
    font-weight: 500;
}

.hero button:hover {
    background-color: #2b2b2b; 
    transition: 1s ease; 
}

.hero p {
    margin-bottom: 2rem; 
    margin-top: 1rem; 
}
