html {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    margin: 0 auto; 
    padding: 0; 
}

header {
    display: flex; 
    width: 100%; 
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem; 
    border-bottom: 1px solid rgb(98, 98, 98);
}

header a {
    margin: .4rem; 
    text-decoration: none;
}

.logo {
    width: 150px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.top {
    background-color: black;
    color: white; 
    padding: .5rem; 
    margin: 0; 
    text-align: center;
}

.top p {
    text-transform: uppercase;
    font-weight: 700;
}