// #myCarousel .item {
//     background-color: $primary-color;  
//     padding: 1rem;
// }

// #myCarousel p {
//     color: $light-color; 
//     text-align: center; 
//     text-transform: uppercase;
//     margin: 0.4rem; 
// }

// #myCarousel svg {
//     margin-top: 1.4rem;
//     background-color: rgba(0, 0, 0, 0.5);
// }

#menu {
    display: flex; 
    margin: 2rem;
    align-items: center; 
    background-color: $secondary-color;
    padding: 2rem; 
    // border: $border;
    position: relative; 
    .design4 {
        width: 30%; 
        position: absolute; 
        top: 0px; left: 0px; 
    }
    .design5 {
        width: 30%; 
        position: absolute; 
        bottom: 0px; left: 0px; 
    }
    .bestseller-text {
        color: $primary-color; 
        text-align: right; 
        margin-right: 2rem; 
    }
    ul {
        list-style: none;
        font-size: 1.2rem;
        font-weight: 600; 
    }
}

.carousel-inner img {
    height: 550px; 
    object-fit: cover; 
  }

#carouselExampleIndicators {
    width: 60%; 
    max-width: 600px; 
    margin: auto; 
    background-color: $primary-color; 
    border: $border; 
    box-shadow: 3px 3px 1px $primary-color;
    li {
        background-color: $tertiary-color; 
    }
    h5 {
        color: $light-color; 
        text-transform: uppercase; 
        font-weight: 600; 
        background-color: $primary-color; 
        padding: 1rem; 
        box-shadow: -3px -3px 1px $light-color;
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {
        background-color: $primary-color; 
        border-radius: 50%;
        padding: .8rem; 
    }
}

@media screen and (max-width: 800px) {
    #menu {
        display: block; 
        .carousel-inner img {
            height: 400px; 
        }
        .bestseller-text {
            text-align: center; 
            margin: 1rem; 
        }
        ul {
            text-align: center; 
        }
    }
}