.hero {
    background: $alt-background;
    display: flex; 
    align-items: center;
    // border-bottom: $border; 
    position: relative; 
    .hero-image {
        width: 35%; 
        // border-right: $border; 
    }
    .arrow {
        width: 25%; 
        position: absolute; 
        top: 0px; left: 200px; 
    }
    .arrow1 {
        width: 25%; 
        position: absolute; 
        top: 0px; right: 0px; 
        z-index: 0; 
    }
    .hero-div {
        text-align: left; 
        padding: 1rem; 
        margin: 1rem; 
        line-height: 1.5;
        z-index: 100; 
        .favicon {
            width: 30%; 
            position: absolute; 
            bottom: 0px; right: 0px;
            z-index: -1;
        }
        h3 {
            color: $primary-color;
            // font-family: "Fraunces", serif;
        }
        p {
            font-size: 1.5rem;
            margin: 2rem 0;  
        }
        a {
            color: $primary-color;
            font-weight: 500;
            background-color: $secondary-color; 
            text-decoration: none; 
            padding: 1rem; 
            border-radius: 10px;
            border: $border; 
            box-shadow: 3px 3px 1px $primary-color;
            z-index: 101; 

            &:hover {
                color: $background-color;
                background-color: $primary-color;
                transition: $transition; 
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .hero {
        display: block; 
        text-align: center; 
        margin: 0; 
        .arrow {
            display: none; 
        }

        .arrow1 {
            display: none; 
        }
        .hero-div {
            text-align: center; 
            margin: 0; 
            h3 {
                font-size: 2rem; 
            }
            p {
                font-size: .4em; 
            }
            a {
                font-size: 1rem; 
            }
        }
    }    
}
