<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="style.css" />
    <title>Component</title>
</head>
<body>
    <div class="cart__container">
        <div class="cart__top">
            <h2 class="cart__title">Your Cart</h2>
            <h2 class="cart__number">3</h2>
        </div>
        <div class="cart__body">
            <div class="cart__item">
                <div class="cart__text">
                    <h3 class="cart__product">Product name</h3>
                    <p class="cart__description">Brief description</p>
                </div>
                <h3 class="cart__price">$12</h3>
            </div>
            <div class="cart__item">
                <div class="cart__text">
                    <h3 class="cart__product">Second product</h3>
                    <p class="cart__description">Brief description</p>
                </div>
                <h3 class="cart__price">$8</h3>
            </div>
            <div class="cart__item">
                <div class="cart__text">
                    <h3 class="cart__product">Third item</h3>
                    <p class="cart__description">Brief description</p>
                </div>
                <h3 class="cart__price">$5</h3>
            </div>
            <div class="cart__promo">
                <div class="cart__text">
                    <h3 class="cart__product">Promo code</h3>
                    <p class="cart__code_example">EXAMPLECODE</p>
                </div>
                <h3 class="cart__promo_price">-$5</h3>
            </div>
            <div class="cart__item">
                <h3 class="cart__total">Total (USD)</h3>
                <h3 class="cart__total_price">$20</h3>
            </div>
        </div>
        <div class="cart__bottom">
            <div class="cart__input">
                <h3 class="cart__code">Promo code</h3>
                <h3 class="cart__button">Redeem</h3>
            </div>
        </div>
    </div>
    
</body>
</html>